body{
    
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-image: url(Perro-gato.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
    position: relative;
    
}
*{
    box-sizing:border-box;
}
.top {
    background-color:#00a69c;
    height: 50px;
}

.contenedor{
    
    width: 100%;
    padding: 15%;

}
.formulario{
    background: lightgrey;
    margin-top: 200px;
    padding: 1px;
    box-shadow: 0 0 6px 0 #00a69c;
}
h1{
    text-align: center;
    color:#00a69c;
    font-size: 40px
}
input{

    background-color: lightgray;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 20px 20px 20px 15px;
    border-bottom: 1px solid;
    
}
input:hover{
    text-shadow: 0 0.1rem 0.4rem #5c400a;
    color: grey;

}
.input-contenedor{
    margin-bottom: 30px;
    text-align: center;
    color: #00a69c;
    border: none;

}
::placeholder{
    font-style: italic;
    color:#00a69c;
}
.button{
    border: none;
    width: 80%;
    color: white;
    font-size: 20px;
    background-color: #00a69c;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #5c400a;

}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #00a69c;
    font-weight: 600;
}


.link:hover{

    text-shadow: 0 0.1rem 0.4rem #5c400a;
    color: #5c400a;
}

.return{
    color: white;
    
}
    
@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 100px;
        border-radius: 2%;
    }
}